@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row" id="spotContent" >
        
    </div>
</div>

                

@section Scripts{

<script src="~/datas/Travel.js"></script>
<script>
    //console.log(spots.CommonFormat.Section)//array(100)
    //console.log(spots.CommonFormat.Section[0])//object
    //console.log(spots.CommonFormat.Section[0].stitle)//新北投溫泉區
    //console.log(spots.CommonFormat.Section[0].address)//臺北市  北投區中山路、光明路沿線
    //console.log(spots.CommonFormat.Section[0].xbody)//
    
    //console.log(spots.CommonFormat.Section[0].file.img)//圖片網址
    

    const datas = spots.CommonFormat.Section.map(theSpot => {

        const { stitle, address, xbody, info, file} = theSpot;
            //console.log(file.img)
            //console.log(file.img.length)
            //console.log(file.img[0].text)

            let picText="";
            if (file.img.length>=2)
            picText = file.img[0].text;
            else
            picText = file.img.text;
            let xbodycontent = xbody.substring(0,100)
        return(
            `<div class="col-sm-6 col-lg-4 mb-4">
                    <div class="card">
                        <img src="${picText}" class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">${stitle}</h5>
                             <p class="card-text overflow-auto">${xbodycontent}</p>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">${address}</li>
                            <li class="list-group-item">${info}</li>
                        </ul>
                    </div>
               </div>
            </div>
              `
          )
        })
        //console.log(datas)
    document.querySelector('#spotContent').innerHTML=datas.join("");
</script>
}               

