@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<div class="container">
    <div class="row row-cols-3">
        <div class="col">
            <div id="card" class="card" style="width: 18rem;">
                
               
            </div>
        </div>
    </div>
</div>
  
<script src="~/datas/Travel.js"></script>
<script>
    //console.log(spots.CommonFormat.Section)//array(100)
    //console.log(spots.CommonFormat.Section[0].stitle)//新北投溫泉區
    //console.log(spots.CommonFormat.Section[0].file.img[0].description)
    //console.log(spots.CommonFormat.Section[0].file.img[0].text)//圖片網址
//<img src="${file.img[0].text}" class="card-img-top" alt="">
    

    const datas = spots.CommonFormat.Section[0].map(theSpots=> {
        const { stitle, xbody, address} = theSpots;
        console.log(stitle)
        //return (

        //        `              
        //            <div class="card-body">
        //                <h5 class="card-title">${stitle}</h5>
        //                <p class="card-text">${xbody}</p>
        //            </div>
        //            <ul class="list-group list-group-flush">
        //                <li class="list-group-item">地址 ${address}</li>
                       
        //            </ul>
        //        `    
        //        )
        })
        //document.querySelector('#card').innerHTML=datas.join("")
</script>

